.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.container2 {
  display: grid;
  grid-template-columns: auto;
  background-color: red;
  padding: 10px;
}
.container2 div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.container-cats {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.container-cats div {
  background-color: #ffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/*  */